* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #DACBE6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.up_tab {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  padding-left: 3%;
  height: 120px;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #CC92FA;
}

.up_text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}

.button_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  height: 100%;
  margin: 2%;
}

.button {
  font-family: 'Inter';
  font-style: normal;
  font-size: 28px;
  text-align: center;
  color: black;
  padding: 10px;

  background: #FFFFFF;
  border: 0px solid #ffffff;
  border-radius: 8px;
}

.button:hover {
  background: #eae1e1;
}

.counter_background {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  width: 50%;
  height: 485px;
  background: #9E9E9E;
  border-radius: 100px;
  margin: 0 auto;
}

.counter_text {
  font-family: 'Inter';
  font-style: bold;
  font-size: 40px;
  text-align: center;
}

.counter_button {
  font-size: 24px;
  color: black;
  padding: 10px;
  text-decoration: none;
  width: 60px;
  height: 60px;

  display: inline-block;
  background: #FFFFFF;
  border: 0px solid #ffffff;
  border-radius: 50%;
}

.counter_button:hover {
  background: #fa5b5b;
}